<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this Post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <%
=begin%>
 <%= form.text_field :body, :class => 'text_form' %>
  </div> 
<%
=end%>

  <div class="fields">
    <%= form.text_area :body, :class => 'text_form' %>
  </div>

  <div class="actions">
    <%= form.submit :class => 'sub' %>
  </div>
<% end %>